[Unit]
Description=PowerMTA Mail Transfer Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/pmta
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
