<?php
return array(
    'components' => array(
        'db' => array(
            'connectionString' => 'mysql:host=localhost;dbname=mailapp',
            'username' => 'mailapp',
            'password' => 'REDACTED',
            'tablePrefix' => 'mw_',
        ),
    ),
);
